header {
  border-bottom: 1px solid var(--black);
}

header > .container {
  flex-shrink: 0;
  height: var(--unit-12);
  display: flex;
  align-items: center;
}

header nav {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: var(--white);
  outline: 1px solid red;
}

.header-menuButton {
  position: relative;
  z-index: 1;
}
