// all resuable grid classes

$gutter: 4.21%;

@for $i from 2 through 12 {
  .grid-#{$i}col {
    display: grid;
    grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
    grid-column-gap: $gutter;

  }
}

@for $i from 1 through 12 {
  .colSpan-#{$i}{
    grid-column: span $i;
  }
}

// @for $i from 1 through 12 {
//   .colOffset-#{$i}{
//     grid-column: span $i;
//   }
// }



