@font-face {
  font-family: "MessinaSansCondensedWeb";
  src: url("../../static/assets/fonts/MessinaSansCondensedWeb-Bold.eot"); /* IE9 Compat Modes */
  src: url("../../static/assets/fonts/MessinaSansCondensedWeb-Bold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../../static/assets/fonts/MessinaSansCondensedWeb-Bold.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../static/assets/fonts/MessinaSansCondensedWeb-Bold.woff")
      format("woff"); /* Pretty Modern Browsers */
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FB04;
}

@font-face {
  font-family: "MessinaSansCondensedWeb";
  src: url("../../static/assets/fonts/MessinaSansCondensedWeb-Bold.eot"); /* IE9 Compat Modes */
  src: url("../../static/assets/fonts/MessinaSansCondensedWeb-Bold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../../static/assets/fonts/MessinaSansCondensedWeb-Bold.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../static/assets/fonts/MessinaSansCondensedWeb-Bold.woff")
      format("woff"); /* Pretty Modern Browsers */
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FB04;
}

@font-face {
  font-family: "MessinaSansBoldWeb";
  src: url("../../static/assets/fonts/MessinaSansWeb-Bold.eot"); /* IE9 Compat Modes */
  src: url("../../static/assets/fonts/MessinaSansWeb-Bold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../static/assets/fonts/MessinaSansWeb-Bold.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../static/assets/fonts/MessinaSansWeb-Bold.woff") format("woff"); /* Pretty Modern Browsers */
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FB04;
}

@font-face {
  font-family: "MessinaSansSemiBoldWeb";
  src: url("../../static/assets/fonts/MessinaSansWeb-SemiBold.eot"); /* IE9 Compat Modes */
  src: url("../../static/assets/fonts/MessinaSansWeb-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../static/assets/fonts/MessinaSansWeb-SemiBold.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../static/assets/fonts/MessinaSansWeb-SemiBold.woff")
      format("woff"); /* Pretty Modern Browsers */
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FB04;
}

@font-face {
  font-family: "MessinaSansBookWeb";
  src: url("../../static/assets/fonts/MessinaSansWeb-Book.eot"); /* IE9 Compat Modes */
  src: url("../../static/assets/fonts/MessinaSansWeb-Book.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../static/assets/fonts/MessinaSansWeb-Book.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../static/assets/fonts/MessinaSansWeb-Book.woff") format("woff"); /* Pretty Modern Browsers */
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FB04;
}
