//
// Colors
//

:root {
  // enter colors
  --red: red;
}

//
// Units
//

$unit: 4px;

:root {
  --unit: $unit;
  @for $i from 1 through 50 {
    --unit-#{$i}: $i * $unit;
  }
}

//
// breakpoints
//

$bp-1-width: 768px;
$bp-2-width: 1024px;

@mixin bp-1 {
  @media (min-width: #{$bp-1-width}) {
    @content;
  }
}

@mixin bp-2 {
  @media (min-width: #{$bp-2-width}) {
    @content;
  }
}

// etc
