backend:
  name: git-gateway
  branch: staging

media_folder: "static/images/uploads"
public_folder: "/images/uploads"

collections:

  - label: "Pages"
    name: "pages"
    files:
      - label: "About Page"
        name: "about page"
        file: "src/pages/about.js"
        fields:
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Subtitle", name: "subtitle", widget: "string" }
          - { label: "Intro", name: "intro", widget: "markdown" }

  - label: "Projects"
    name: "projects"
    folder: "src/pages/projects"
    create: true
    fields:
      - { label: "Project Name", name: "projectName", widget: "string" }
      - { label: "Image", name: "placeholder", widget: "image" }
      - { label: "Headline", name: "headline", widget: "string" }
      - { label: "Body", name: "body", widget: "markdown" }