backend:
  name: git-gateway
  branch: staging

media_folder: "static/images/uploads"
public_folder: "/images/uploads"

collections:
  - name: "pages"
    label: "Pages"
    files:
      
      - name: "about page"
        label: "About Page"
        file: "src/pages/about.md"
        fields:
          - {label: "Template Key", name: "templateKey", widget: "hidden", default: "about-page" }
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Description", name: "body", widget: "markdown" }
          - label: Studio Members
            name: studioMembers
            widget: list
            fields:
              - { label: "Member Name", name: "memberName", widget: "string" }
              - { label: "Member Image", name: "memberImage", widget: "image" }
              - { label: "Job Title", name: "jobTitle", widget: "string" }
              - { label: "Member Description", name: "memberDescription", widget: "text" }
              - { label: "Principal", name: "principal", widget: "boolean" }
          - label: Publications
            name: publications
            widget: list
            fields:
              - { label: "Title", name: "title", widget: "string" }
              - { label: "Date", name: "date", widget: "date" }
              - { label: "URL", name: "url", widget: "string" }
          - label: Awards
            name: awards
            widget: list
            fields:
              - { label: "Award Title", name: "awardTitle", widget: "string" }
              - { label: "Organization Name", name: "orgName", widget: "string" }
              - { label: "Date", name: "date", widget: "date" }
              - { label: "URL", name: "url", widget: "string" }

      - name: "contact page"
        label: "Contact Page"
        file: "src/pages/contact.md"
        fields:
          - { label: "Template Key", name: "templateKey", widget: "hidden", default: "contact-page" }
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Hero Image", name: "heroImage", widget: "image" }
          - { label: "Message", name: "message", widget: "text" }
      
      - name: "news page"
        label: "News Page"
        file: "src/pages/news.md"
        fields:
          - { label: "Template Key", name: "templateKey", widget: "hidden", default: "news-page" }
          - { label: "Title", name: "title", widget: "string" }
          - { label: "News Image", name: "newsImage", widget: "image" }
          - { label: "Date", name: "date", widget: "date" }
          - { label: "Headline", name: "headline", widget: "string" }
          - { label: "Body", name: "body", widget: "markdown" }

      - name: "work page"
        label: "Work Page"
        file: "src/pages/work.md"
        fields:
          - { label: "Template Key", name: "templateKey", widget: "hidden", default: "work-page" }
          - { label: "Title", name: "title", widget: "string" }

  - name: "projects"
    label: "Projects"
    folder: "src/pages/projects"
    create: true
    fields:
      - { label: "Template Key", name: "templateKey", widget: "hidden", default: "project-page" }
      - { label: "Project Name", name: "name", widget: "string" }
      - { label: "Headline", name: "title", widget: "string" }
      - { label: "Preview Image", name: "previewImage", widget: "image" }
      - { label: "Body", name: "body", widget: "markdown" }
      - label: Info Object
        name: infoObject
        widget: object
        fields:
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Description", name: "description", widget: "string" }
      - { label: "Hero Image", name: "heroImage", widget: "image" }
      - { label: "Hero Image Two", name: "heroImageTwo", widget: "images" }
      - label: "Project Images"
        name: "projectImages"
        widget: "list"
        fields:
          - { label: "Image URL", name: "imageURL", widget: "image", default: "/images/uploads/placeholder.jpg" }
          - { label: "Column Width", name: "colWidth", widget: "select", options: ["1", "2", "3", "4", "5", "6"], default: "3" }
          - { label: "Offset width", name: "offsetWidth", widget: "select", options: ["0", "1", "2", "3", "4", "5", "6"], default: "0" }
          - { label: "Alt Text", name: "altText", widget: "string", default: "project image alt" }
          - { label: "Caption", name: "caption", widget: "string", default: "project image caption" }
      - { label: "Pull Quote", name: "pullQuote", widget: "string" }