backend:
  name: git-gateway
  branch: staging

media_folder: "static/images/uploads"
public_folder: "/images/uploads"

collections:

  - name: "pages"
    label: "Pages"
    files:
      - name: "about page"
        label: "About Page"
        file: "src/pages/about.js"
        fields:
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Subtitle", name: "subtitle", widget: "string" }
          - { label: "Intro", name: "intro", widget: "markdown" }

  - name: "projects"
    label: "Projects"
    folder: "src/pages/projects"
    create: true
    fields:
      - { label: "Project Name", name: "projectName", widget: "string" }
