backend:
  name: git-gateway
  branch: staging

media_folder: "static/images/uploads"
public_folder: "/images/uploads"

collections:
  - name: "pages"
    label: "Pages"
    files:
      - name: "about page"
        label: "About Page"
        file: "src/pages/about.js"
        fields:
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Subtitle", name: "subtitle", widget: "string" }
          - { label: "Intro", name: "intro", widget: "markdown" }

  - name: "projects"
    label: "Projects"
    folder: "src/pages/projects"
    create: true
    fields:
      - {label: "Template Key", name: "templateKey", widget: "hidden", default: "project-page" }
      - { label: "Project Name", name: "name", widget: "string" }
      - { label: "Headline", name: "title", widget: "string" }
      - { label: "Description", name: "description", widget: "markdown" }
      - label: Data
        name: data
        widget: object
        fields: 
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Description", name: "description", widget: "string" }
      - { label: "Hero Image", name: "heroImage", widget: "image" }
      - { label: "Image", name: "placeholder", widget: "image" }
      - { label: "Pull Quote", name: "pullQuote", widget: "string" }